{:highlights [{:id #uuid "681cc872-8162-4694-83ce-c13b6689e084",
               :page 1,
               :position {:bounding {:x1 89.953125,
                                     :y1 379.8125,
                                     :x2 495.00823974609375,
                                     :y2 454.359375,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 156.04977416992188,
                                   :y1 379.8125,
                                   :x2 495.00823974609375,
                                   :y2 396.8125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 89.953125,
                                   :y1 398.953125,
                                   :x2 494.9600830078125,
                                   :y2 415.953125,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 89.953125,
                                   :y1 418.09375,
                                   :x2 494.9654541015625,
                                   :y2 435.09375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 89.953125,
                                   :y1 437.359375,
                                   :x2 185.64706420898438,
                                   :y2 454.359375,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "We introduce Zero-Knowledge Location Privacy(ZKLP), enabling users to prove to third parties that they are within a specified geographical region while not disclosing their exact location"},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
